.git
.gitignore
.editorconfig
.idea
.vscode
.env
.env.*
.phpunit.result.cache
node_modules
vendor
npm-debug.log
yarn-error.log
docker-compose.yml
docker-compose.yaml
Dockerfile*
docs
tests
storage/logs/*
storage/debugbar
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/private/*
bootstrap/cache/*
vendor/bin
